<h1>Contributing</h1>

Here's How To Participate In The project...

<h2>BitBucket</h2>

ClassForge is hosted on <A HREF="https://bitbucket.org/laserllama/classforge/BitBucket"</A>.  Any submissions should be pull requests to the <A HREF="https://bitbucket.org/laserllama/classforge/src/master/">master branch</A>.

It is better to discuss ideas prior to implementation to avoid redundant efforts - <A HREF="mailto:michael@michaeldehaan.net">email Michael</A> to discuss any ideas.
Please do not submit any reformatting code changes, as these will be rejected.

<h2>Tests</h2>

from root:

{{ begin_code(language='bash') }}make tests
{{ end_code() }}

<h2>Bugs</h2>

Please file tickets in BitBucket if you hit an exception and can't (or don't want to) fix it with a pull request. Please <i>email</i> feature ideas, rather than filing feature request
tickets.

<h2>Shoutouts</h2>

If you are using ClassForge and liking it, feel free to let us know, as we like hearing from folks. You can tweet at <A HREF="https://twitter.com/classforge">@classforge</A> or <A HREF="mailto:michael@michaeldehaan.net">email Michael</A>.




